Vagrant.configure('2') do |config|
  config.vm.box = 'centos/7'
  config.vm.network :private_network, ip: '192.168.33.10'
  config.vm.provision :bootstrap, type: 'shell', path: 'provision/bootstrap.sh'
  config.vm.provision :bootstrap_default_user, type: 'shell', path: 'provision/bootstrap_default_user.sh', privileged: false
end
